* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
}
a {
  text-decoration: none;
  color: red;
  border: 1px black solid;
  padding: 1rem;
  background-color: gray;
}

.enemy-text {
  color: red;
}

.player-text {
  color: blue;
}
a:hover {
  background-color: blue;
}
header {
  text-align: center;
  height: 9vh;
  box-sizing: border-box;
}
main {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 80vh;
}
.game-container {
  /* box-sizing: border-box; */
  margin: 1rem;
  padding: 2rem;
  border: 3px black solid;
  text-align: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

/* .zone-1,
.zone-2,
.zone-3,
.zone-4,
.zone-5,
.zone-6 {
  flex-basis: 10%;
} */

.zone {
  flex-basis: 15%;
}

#battle-zone {
  flex-basis: 20%;
  padding: 3rem;
}
.battle-zone-container {
  display: flex;
}

.battle-zone-container > p {
  flex-basis: 25%;
}
